* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

body {
  background-color: slateblue;
  overflow-x: auto;
}

header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    color: white;
}

#btn-createUser{
   font-weight: bold;
   letter-spacing: 2px;
   padding: 10px;
   border: 1px solid gray;
   background-color:aquamarine;
   outline: none;
   border-radius: 20px;
   color: black;
}

#btn-createUser:hover{
    color: gray ;
    transition: 0.1s;
}

#btn-createUser:active{
    background-color:rgb(2, 250, 167);
}

a, a:link, a:visited{
    text-decoration: none;
    color: inherit;
}

main{
    margin-top: 50px;
}
.boxUser{
margin: 10px auto;
width: 50%;
height: 200px;
background-color: rgb(225, 250, 242);
border-radius: 10px;
border: 5px solid gray;
padding: 10px;
display: flex;
justify-content: space-between;
align-items: center;
flex-direction: column;

}

.infoUser{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}
.infoUser h4{
    border-bottom: 2px solid gray;
    width: 100%;
    height: 100%;
}

.btns{
  padding-top: 10px;
    width: 100%;
    height: 20%;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}
#btn-editUser, #btn-deleteUser{
    outline: none;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 10px;
    background-color: transparent;
}

#btn-editUser:hover{
    background-color: rgb(134, 134, 141);
    transition: 0.5s;
}
#btn-deleteUser:hover{
    background-color: #E92C3B;
    transition: 0.5s;
}


.btnBack,input[type=submit] {
    font-weight: bold;
   letter-spacing: 2px;
   padding: 10px;
   border: 1px solid gray;
   background-color:aquamarine;
   outline: none;
   border-radius: 20px;
   cursor: pointer;
}
small{
    color: black;
}
small:hover, input[type=submit]:hover{
    color: gray ;
    transition: 0.1s;
}

small:active, input[type=submit]:active{
    background-color:rgb(2, 250, 167);
}


.formUser{
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    background-color: rgb(53, 43, 117);
    padding: 10px;
    border-radius: 10px;
    
}
.formUser h1{
    padding: 10px;
    letter-spacing: 2px;
    font-weight: bold;
    color: white;
}
input{
    width: 100%;
    margin-bottom: 2px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid gray;
    font-weight: bold;
}

